@inherits UmbracoViewPage<PolRegio.Domain.Models.Components.Notice.NoticeBoxModel>

<tr class="js-list-item">
    <td class="hidden-xs hidden-sm hidden-md">@Model.NumberOfProceedings</td>
    <td><a href="@Model.BoxUrl">@Model.Name</a></td>
    <td class="hidden-xs hidden-sm hidden-md">@Model.AdministrativeKey</td>
    <td>@Model.InitiationOfProceedingsDate.ToString("yyyy-MM-dd")</td>
    <td class="hidden-xs hidden-sm hidden-md">@Model.LawActKey</td>
    <td class="hidden-xs hidden-sm hidden-md">@Model.DateLimitForReceipt.ToString("yyyy-MM-dd")</td>
</tr>