@model PolRegio.Domain.Models.View.BipPage.BIPFormViewModel
@{
    Layout = null;
}

<html>
<head>
</head>
<body>
    <p><b>Imię i nazwisko / Nazwa podmiotu:</b> @Model.UserName</p>
    <p><b>Adres:</b> @Model.UserAddress</p>
    <p><b>Adres e-mail:</b> @Model.UserEmail</p>
    <p><b>Telefon:</b> @Model.UserPhone</p>
    <p><b>Zakres tematyczny danych:</b> @Model.UserDescription</p>
    <p><b>Sposób udostępnienia informacji:</b> @Model.SharingInformation</p>
    <p><b>Rodzaj nośnika:</b> @Model.MediaType</p>
</body>
</html>