@inherits UmbracoViewPage<PolRegio.Domain.Models.View.AdvertisingOfSalesModel.AdvertisingOfSalesViewModel>
<section class="hpm-advertistingOfSales">
@using (Ajax.BeginForm("RenderAdvertisingOfSalesBoxes", "PolRegioAdvertisingOfSales", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "hpm-section-boxes-container",
    OnBegin = "loaderShow();",
    OnComplete = "checkIfShowLoadMoreButton();filterAjaxForm();loaderHide();pickers();selectStylish();setAdrertisngOfSalesDateTimePickers();"
}, new { id = "boxesForm" }))
{
    @Html.HiddenFor(q => q.CurrentPageCulture)
    @Html.HiddenFor(q => q.CurrentUmbracoPageId)
    @Html.HiddenFor(q => q.DisplayCount)

    @Html.Hidden("CurrentSearchSelectedAdministrativeId", Model.SelectedAdministrativeId, new { id = "CurrentSearchSelectedAdministrativeId" })
    @Html.Hidden("CurrentSearchSelectedStatusId", Model.SelectedStatusId, new { id = "CurrentSearchSelectedStatusId" })
    @Html.Hidden("CurrentSearchName", Model.Name, new { id = "CurrentSearchName" })
    @Html.Hidden("CurrentSearchNumber", Model.Number, new { id = "CurrentSearchNumber" })

    @Html.Hidden("CurrentSearchStartDate", Model.StartDate.HasValue ? Model.StartDate.Value.ToString("yy-MM-dd") : "", new { id = "CurrentSearchStartDate" })
    @Html.Hidden("CurrentSearchEndDate", Model.EndDate.HasValue ? Model.EndDate.Value.ToString("yy-MM-dd") : "", new { id = "CurrentSearchEndDate" })

    <input type="hidden" id="allBoxesCount" value="@Model.AllNewsCount" />

    <div class="hpm-list--top row">
        <div class="col col-sm-12">
            <div class="bg-white">
                <div class="hpm-list--filters hpm-list--adw-of-sales--filters row ">
                    <div class="col-sm-12 col-md-8">
                        <label>@Umbraco.GetDictionaryValue("Advertising.Placeholder.InitiationOfProceedingsDate")</label>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                @Html.TextBoxFor(q => q.StartDate, new { type = "text", @class = "form-control js-datepicker", id = "hpm-search--startdate", placeholder = Umbraco.GetDictionaryValue("Advertising.Placeholder.StartDay"), @readonly = "readonly" })
                            </div>
                            <div class="col-sm-12 col-md-6">
                                @Html.TextBoxFor(q => q.EndDate, new { type = "text", @class = "form-control js-datepicker", id = "hpm-search--enddate", placeholder = Umbraco.GetDictionaryValue("Advertising.Placeholder.EndDay"), @readonly = "readonly" })
                            </div>
                        </div>
                     </div>
                    <div class="col-sm-12 col-md-4">
                        <label>@Umbraco.GetDictionaryValue("Advertising.Placeholder.Seller")</label>
                        @Html.DropDownListFor(q => q.SelectedAdministrativeId, Model.AdministrativeFilter.Select(a => new SelectListItem
                   {
                       Text = a.DisplayText,
                       Value = a.Id.ToString()
                   }), new { @class = "form-control js-stylish" })
                    </div>
                </div>
                <div class="hpm-list--filters hpm-list--adw-of-sales--filters row">
                    <div class="col-sm-12 col-md-4">
                        <label>@Umbraco.GetDictionaryValue("Advertising.Placeholder.Number")</label>
                        @Html.TextBoxFor(q => q.Number, new { @class = "form-control ", id = "hpm-search--number", placeholder = Umbraco.GetDictionaryValue("Advertising.Placeholder.Number") })
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>@Umbraco.GetDictionaryValue("Advertising.Placeholder.Name")</label>
                        @Html.TextBoxFor(q => q.Name, new { @class = "form-control", id = "hpm-search--name", placeholder = Umbraco.GetDictionaryValue("Advertising.Placeholder.Name") })
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label>@Umbraco.GetDictionaryValue("Advertising.Placeholder.Status")</label>
                        @Html.DropDownListFor(q => q.SelectedStatusId, Model.StatusFilter.Select(a => new SelectListItem
                   {
                       Text = a.DisplayText,
                       Value = a.Id.ToString()
                   }), new { @class = "form-control js-stylish" })
                    </div>
                </div>

                <div class="hpm-list--filters hpm-list--adw-of-sales--filters row">
                    @if (!string.IsNullOrEmpty(Model.ArchiveUrl))
                    {
                        <div class="col-xs-12 col-md-8">
                            <a href="@Model.ArchiveUrl" target="_blank">@Umbraco.GetDictionaryValue("Advertising.SeeArchiveOffers.Text") <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    }
                    <div class="col-xs-12 col-md-4 pull-right">
                        <div class="rowhpm-js-load-more hpm-list--loadmore">
                            <input type="submit" class="btn center-block hpm-list--loadmore  full-btn" value="@Umbraco.GetDictionaryValue("Advertising.Button.Find")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-12">
            <div class="hpm-list--adw-of-sales--list">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="hidden-xs">@Umbraco.GetDictionaryValue("Advertising.Placeholder.Number")</th>
                            <th class="hpm-first-tablecol--mobile">@Umbraco.GetDictionaryValue("Advertising.Placeholder.Name")</th>
                            <th class="hidden-xs">@Umbraco.GetDictionaryValue("Advertising.Placeholder.Seller")</th>
                            <th class="hpm-last-tablecol--mobile">@Umbraco.GetDictionaryValue("Advertising.Placeholder.InitiationOfProceedingsDate")</th>
                            <th class="hidden-xs">@Umbraco.GetDictionaryValue("Advertising.Placeholder.DateLimitForReceipt")</th>
                        </tr>
                    </thead>
                    <tbody class="hpm-js-boxes-container">
                        @Html.Partial("Controls/ProcedureBoxList", Model.ProcedureList)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

</section>
