@using Umbraco.Web.UI.Pages
@inherits UmbracoViewPage<PolRegio.Domain.Models.View.Account.RegisterFormViewModel>

<script id="Response" type="application/json">
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Response))
</script>

@using (Ajax.BeginForm("SubmitRegisterForm", "PolRegioAccount", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "hpm-section-bipform-container",
    OnBegin = "loaderShow();",
    OnComplete = "filterAjaxForm();loaderHide();bipFormScroll();showpassword();launchsocial()",
    OnSuccess = "registerfinished(data, status, xhr)"
    @**@
}, new { id = "boxesForm" }))
{
    @Html.HiddenFor(q => q.CurrentPageCulture)
    @Html.HiddenFor(q => q.CurrentUmbracoPageId)
    @Html.AntiForgeryToken()
    <div class="hpm-reg__form row">
        <div class="col-xs-12">
            <div class="bg-white">
                @if (Model.Response != null && Model.Response.ShouldDisplayMessage)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-@(Model.Response.IsError ? "warning":"success") alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>

                                @Html.Raw(Model.Response.Message)

                            </div>
                        </div>
                    </div>
                    <script>
                        clearForm('@(Model.Response.IsError ? "False" : "True")', true);
                    </script>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="hpm-reg__form__element col-sm-12 col-md-6">
                                <div class="hpm-reg__form__element col-sm-12">
                                    <h2>* @Umbraco.GetDictionaryValue("Register.Placeholder.Name")</h2>
                                    @Html.TextBoxFor(q => q.UserName, new { @class = "form-control ", placeholder = Umbraco.GetDictionaryValue("Register.Placeholder.Name") })
                                    @Html.ValidationMessageFor(q => q.UserName, Umbraco.GetDictionaryValue("Register.Placeholder.Name.Error"))
                                </div>
                                <div class="hpm-reg__form__element col-sm-12">
                                    <h2>* @Umbraco.GetDictionaryValue("Register.Placeholder.Surname")</h2>
                                    @Html.TextBoxFor(q => q.UserSurname, new { @class = "form-control ", placeholder = Umbraco.GetDictionaryValue("Register.Placeholder.Surname") })
                                    @Html.ValidationMessageFor(q => q.UserSurname, Umbraco.GetDictionaryValue("Register.Placeholder.Surname.Error"))
                                </div>
                                <div class="hpm-reg__form__element col-sm-12">
                                    <h2>@Umbraco.GetDictionaryValue("Register.Placeholder.UserPhone")</h2>
                                    @Html.TextBoxFor(q => q.UserPhone, new { @class = "form-control ", @type = "number", placeholder = Umbraco.GetDictionaryValue("Register.Placeholder.UserPhone") })
                                    @Html.ValidationMessageFor(q => q.UserPhone, Umbraco.GetDictionaryValue("Register.Placeholder.UserPhone.Error"))
                                </div>
                                <div class="hpm-reg__form__element col-sm-12">
                                    <h2>*  @Umbraco.GetDictionaryValue("Register.Placeholder.UserEmail")</h2>
                                    @Html.TextBoxFor(q => q.UserEmail, new { @class = "form-control ", placeholder = Umbraco.GetDictionaryValue("Register.Placeholder.UserEmail") })
                                    @Html.ValidationMessageFor(q => q.UserEmail, Umbraco.GetDictionaryValue("Register.Placeholder.UserEmail.Error"))
                                </div>
                                <div class="hpm-reg__form__element col-sm-12">
                                    <h2>* @Umbraco.GetDictionaryValue("Register.Placeholder.Password")</h2>
                                    <div class="UserPassword">@Html.PasswordFor(q => q.UserPassword, new { @class = "form-control ", placeholder = Umbraco.GetDictionaryValue("Register.Placeholder.PasswordShort") })<div id="showpassword"></div></div>
                                    @Html.ValidationMessageFor(q => q.UserPassword, Umbraco.GetDictionaryValue("Register.Placeholder.Password.Error"))
                                </div>
                                <div class="hpm-reg__form__element col-sm-12">
                                    <h2>* @Umbraco.GetDictionaryValue("Register.Placeholder.Confirmpassword")</h2>
                                    @Html.PasswordFor(q => q.UserConfirmPassword, new { @class = "form-control ", placeholder = Umbraco.GetDictionaryValue("Register.Placeholder.Confirmpassword") })
                                    @Html.ValidationMessageFor(q => q.UserConfirmPassword, Umbraco.GetDictionaryValue("Register.Placeholder.Confirmpassword.Error"))
                                </div>
                                <div class="hpm-reg__form__element col-sm-12 col-md-12">
                                    @for (var i = 0; i < Model.Agreements.Count; i++)
                                    {
                                        if (!Model.Agreements[i].Preference)
                                        {

                                            var agreementText = Model.Agreements[i].Required
                                                ? "* " + Model.Agreements[i].Text
                                                : Model.Agreements[i].Text;
                                            <div class="row">
                                                <div class="hpm-reg__form__element__checkbox col-sm-12">
                                                    @Html.HiddenFor(x => x.Agreements[i].Id)
                                                    @Html.HiddenFor(x => x.Agreements[i].Text)
                                                    @Html.HiddenFor(x => x.Agreements[i].Required)
                                                    @Html.CheckBoxFor(x => x.Agreements[i].Value)
                                                    @Html.LabelFor(x => x.Agreements[i].Value, agreementText)
                                                    @Html.ValidationMessageFor(x => x.Agreements[i].Value)
                                                    <div class="check"></div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="row">
                                    <div class="hpm-reg__form__element__title col-sm-12">
                                        <p>@Umbraco.GetDictionaryValue("Register.Placeholder.SharingInformation")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hpm-reg__form__element col-sm-12 col-md-6 ">
                                <div class="row">
                                    <div class="hpm-reg__form__element__title col-sm-12">
                                        <h2 class="nobottom">@Umbraco.GetDictionaryValue("Register.Placeholder.Info")</h2>
                                    </div>
                                </div>
                                @for (var i = 0; i < Model.Agreements.Count; i++)
                                {
                                    if (Model.Agreements[i].Preference)
                                    {
                                        var agreementText = Model.Agreements[i].Required
                                            ? "* " + Model.Agreements[i].Text
                                            : Model.Agreements[i].Text;
                                        <div class="row">
                                            <div class="hpm-reg__form__element__checkbox col-sm-12">
                                                @Html.HiddenFor(x => x.Agreements[i].Id)
                                                @Html.HiddenFor(x => x.Agreements[i].Text)
                                                @Html.HiddenFor(x => x.Agreements[i].Required)
                                                @Html.CheckBoxFor(x => x.Agreements[i].Value)
                                                @Html.LabelFor(x => x.Agreements[i].Value, agreementText)
                                                @Html.ValidationMessageFor(x => x.Agreements[i].Value)
                                                <div class="check"></div>
                                            </div>
                                        </div>
                                    }
                                }

                                <div class="hpm-reg__form__element col-sm-12 col-md-12 list-group-sm">
                                    <h2>@Umbraco.GetDictionaryValue("Register.Placeholder.Region")</h2>
                                    <p>@Umbraco.GetDictionaryValue("Register.Placeholder.Selectinfo")</p>
                                    @Html.ListBoxFor(q => q.SelectedRegions, Model.RegionSelectList, new { @class = "list-group" })
                                    @Html.ValidationMessageFor(x => x.SelectedRegions, Umbraco.GetDictionaryValue("Register.PlaceHolder.Region.Error"))
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <div class="hpm-reg__form__element ">
                                            <div class="hpm-reg__form__element__btn  rowhpm-js-load-more hpm-list--loadmore">
                                                <input type="submit" class="btn center-block hpm-list--loadmore  full-btn" value="@Umbraco.GetDictionaryValue("Register.Placeholder.Button")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-12">
                                        <div class="hpm-reg__form__element ">
                                            <div class="hpm-reg__form__element__btn  rowhpm-js-load-more">
                                                <div class=" facebook-login fb btn center-block full-btn" value="">@Umbraco.GetDictionaryValue("Register.Placeholder.Button.Facebook")</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-12">
                                        <div class="hpm-reg__form__element ">
                                            <div class="hpm-reg__form__element__btn  rowhpm-js-load-more">
                                                <div id="gplus" class="gplus btn center-block full-btn" value="@Umbraco.GetDictionaryValue("Register.Placeholder.Button.Google")">@Umbraco.GetDictionaryValue("Register.Placeholder.Button.Google")</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    if (typeof $ !== 'undefined') {
        $('.list-group').listgroup();
    }
</script>
